In [49]:
import sys; sys.path.append(_dh[0].split("knowknow")[0])
from knowknow import *

database_name = 'sociology-wos'
ctype = 'ta'

In [52]:
named_tupelize({
    (1,'a'): 5,
    (1,'a'): 5,
    (1,'a'): 5,
    (1,'a'): 5,
}, 'p.s')

{p_s(p=1, s='a'): 5}

In [53]:
cysum = load_variable("%s.aysum" % database_name)
cits = get_cnt("%s.doc" % database_name, [comb(ctype,'fy')])

Loaded keys: dict_keys(['fy.ta'])
Available keys: ['c', 'c.fj', 'c.fy', 'c.fy.j', 'fa', 'fa.c', 'fa.fj', 'fa.fj.fy', 'fa.fy', 'fj', 'fj.fy', 'fj.ta', 'fj.ty', 'fy', 'fy.ta', 'fy.ty', 'ta', 'ty']

In [55]:
list(count_in_range.keys())[:10]

['cottrell',
 'dewey',
 'dymond',
 'lasswell',
 'lewin',
 'lindesmith',
 'mead',
 'newcomb',
 'barton',
 'murdock']

In [57]:
list(cysum.keys())[:10]

['bell',
 'brechin',
 'butler',
 'clark',
 'cloke',
 'freeman',
 'frouws',
 'gray',
 'healey',
 'hermans']

In [68]:
all_tops = set()

print("%s total entries" % len(cysum))


# ranges loop from 1940-1950 to 1980-1990, in 1-year increments
for RANGE_START, RANGE_END in zip( 
    range(1940,1980+1,5),
    range(1950,1990+1,5),
):
    
    # create a copy of cysum
    cysum_copy = {k:dict(v) for k,v in cysum.items()}

    count_in_range = defaultdict(int)
    for cross, count in cits[comb(ctype,'fy')].items():
        if RANGE_END >= cross.fy >= RANGE_START:
            count_in_range[ getattr(cross, ctype) ] += count
            
    q99 = np.quantile(np.array( list(count_in_range.values()) ), 0.99)
    top1 = {k for k in count_in_range if count_in_range[k]>=q99}
    all_tops.update(top1)
    
    print("%s /%s in the top 1%% in %s,%s" % (
        len(top1),
        len(count_in_range),
        RANGE_START, RANGE_END
    ))

    
alldf = pd.DataFrame.from_records([
    c
    for name, c in cysum.items()
    if name in all_tops
])

alldf.fillna(value=np.nan, inplace=True)

print(alldf.shape)

59524 total entries
16 /1522 in the top 1% in 1940,1950
21 /1926 in the top 1% in 1945,1955
31 /2972 in the top 1% in 1950,1960
45 /4439 in the top 1% in 1955,1965
65 /6404 in the top 1% in 1960,1970
97 /9674 in the top 1% in 1965,1975
141 /14023 in the top 1% in 1970,1980
186 /18244 in the top 1% in 1975,1985
223 /22105 in the top 1% in 1980,1990
(274, 12)

In [69]:
alldf.shape

(274, 12)

In [70]:
save_variable("%s.%s.top1" % (database_name,ctype), alldf)